.login-container{
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  box-shadow: inset 0 100vh 0vh rgba(6, 11, 31, 0.7);
  position: relative;

  //标题
  .login-title-box{
    background: rgba(255,255,255,0.1);
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
  .login-title{
    text-align: center;
    background: #1b235b61;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    padding: 10px 0;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5),-2px -2px 2px rgba(0,0,0,0.5);
  }
  .login-input-box{
    padding: 15px;
    .input{
      margin: 10px 0;
    }
    input{
      background: transparent;
      border-top: unset;
      border-left: unset;
      border-right: unset;
      border-radius: 0;
      caret-color:#40a9ff;
      color: #ffffff;
      &:focus{
        border-color:#40a9ff;
        box-shadow: unset;

      }
    }
  }
  .login-button-box{
    text-align: center;
    padding: 15px;
    button{
      width: 100%;
    }
  }
}